<p-confirmDialog  #confirm [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<p-toast key="msg"></p-toast>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/users/add/']"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="delete(1,null)" [disabled]="!selectedElements || !selectedElements.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt
            [value]="users"
            [lazy]="true"
            [resetPageOnSort]="false"
            [multiSortMeta]="[{field: 'id', order: 1}]"
            sortMode="multiple"
            (onLazyLoad)="load($event)"
            [lazyLoadOnInit]="true"
            [paginator]="true"
            [totalRecords]="totalRows"
            [rowsPerPageOptions]="[10,25,50]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate=" {{ getPageRange(page, limit, totalRows) }}"
            [(selection)]="selectedElements" selectionMode="multiple"
            [responsive]="true"
            [rows]="10" [rowHover]="true"  dataKey="id" responsiveLayout="scroll"  [breakpoint]="'760px'" [tableStyle]="{'min-width': '50rem'}"   >

                <ng-template pTemplate="header">
                    <tr>
                        <th >
							<!-- expander -->
						</th>
						<th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">
                            ID <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th >
                            IMAGEN
                        </th>
                        <th pSortableColumn="userFullName">
                            NOMBRE <p-sortIcon field="userFullName"></p-sortIcon>
                        </th>
						<th pSortableColumn="userEmail">
                            CORREO <p-sortIcon field="userEmail"></p-sortIcon>
                        </th>
						<th pSortableColumn="userEmailStatus" >
							VERIFICADO <p-sortIcon field="userEmailStatus"></p-sortIcon>
						</th>
                        <th>
							<!-- controles -->
						</th>
                    </tr>
                   <tr>
                        <th>
                            <!-- expander -->
                        </th>
						<th>
							<!-- checkbox -->
                        </th>
                        <th>
                            <p-columnFilter type="numeric"  [showButtons]="false" field="id" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsNumber" > </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter style="visibility: hidden;" ></p-columnFilter>
                        </th>
						<th>
                            <p-columnFilter type="text" field="userFullName" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="userEmail" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="boolean" field="userEmailStatus" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
						<th>
							<!-- controles -->
						</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-user let-expanded="expanded" >
                    <tr>
						<td>
							<button type="button" pButton pRipple [pRowToggler]="user" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
						</td>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td>{{user.id}}</td>
                        <td>
							<p-image src="{{fileURL+user.userImage}}" [preview]="true" alt="" width="30" (onImageError)="imageErr()">
								<ng-template pTemplate="indicator">
									<i class="pi pi-check"></i>
								</ng-template>
							</p-image>
						</td>
                        <td>{{user.userFullName}}</td>
						<td>{{user.userEmail}}</td>
						<td>
							<i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': user.userEmailStatus == 'confirmed', 'false-icon pi-times-circle text-pink-500': user.userEmailStatus != 'confirmed'}"></i>
						</td>
						<td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-text" [routerLink]="['/users/edit/', user.id]"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="delete(2,user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

				<ng-template pTemplate="rowexpansion" let-user>
					<tr>
						<td colspan="7">
							<div class="p-3" >
								<p-table [value]="user.userBranches" dataKey="id">
									<ng-template pTemplate="header">
										<tr>
											<th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
											<th pSortableColumn="branchName">Sucursal <p-sortIcon field="customer"></p-sortIcon></th>
											<th pSortableColumn="roleName">Rol <p-sortIcon field="date"></p-sortIcon></th>
											<th style="width: 4rem"></th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-userBranches>
										<tr>
											<td>{{ userBranches.id }}</td>
											<td>{{ userBranches.userBranchBranch.branchName }}</td>
											<td>{{ userBranches.userBranchRole.roleName }}</td>
											<td><p-button type="button" icon="pi pi-plus"></p-button></td>
										</tr>
									</ng-template>
									<ng-template pTemplate="emptymessage">
										<tr>
											<td colspan="6">No hay sucursales asignadas.</td>
										</tr>
									</ng-template>
								</p-table>
							</div>
						</td>
					</tr>
				</ng-template>

            </p-table>
        </div>
    </div>
</div>

