<div class="flex h-screen">
    <div class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-between">
        <img [src]="'assets/layout/images/icons8-logo.svg'" class="h-4rem mt-4" alt="diamond-layout" />

        <div class="flex flex-column align-items-center gap-4">
            <div class="mb-3">
                <h2>Recuperación de contraseña</h2>
                <p>Ingresa tu correo para reestablecer tu contraseña</p>
				<p>¿Ya tienes un token?
					<a [routerLink]="['/auth/-']" class="text-primary hover:underline cursor-pointer font-medium"> Haz click aquí </a> cambiar tu contraseña.
				</p>
            </div>

            <span class="p-input-icon-left w-full md:w-25rem">
                <i class="pi pi-envelope"></i>
                <input id="email" type="text" [(ngModel)]="email" pInputText class="w-full md:w-25rem" placeholder="Correo">
            </span>
            <div class="flex gap-3 w-full md:w-25rem">
                <button pButton pRipple label="CANCELAR" class="flex-auto p-button-outlined" [routerLink]="['/']"></button>
                <button pButton pRipple label="ENVIAR" class="flex-auto" (click)="send()" ></button>
            </div>
        </div>

        <p class="text-color-secondary font-semibold">¿Necesitas ayuda?
			<a class="text-primary hover:underline cursor-pointer font-medium">Haz click aquí</a>.
		</p>
    </div>
    <div class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat" style="background-image: url('assets/demo/images/auth/bg-login.jpg')">
        <div class="mt-auto mb-auto">
            <span class="block text-white text-7xl font-semibold">Recupera tu<br/>Password</span>
            <span class="block text-white text-3xl mt-4">
				Por favor, ingresa el correo electrónico
				<br/> con el cual te registraste para poder enviarte
				<br/> un token y restablecer tu password.
				<br/>
				<br/> El token tiene una vigencia de 24 horas.
			</span>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>
