<p-confirmDialog  #confirm [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast key="msg"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!--<p-toast></p-toast> -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/vehicles/add/']"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="delete(1,null)" [disabled]="!selectedVehicles || !selectedVehicles.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt
            [value]="vehicles"
            [lazy]="true"
            [resetPageOnSort]="false"
            [multiSortMeta]="[{field: 'id', order: 1}]"
            sortMode="multiple"
            (onLazyLoad)="load($event)"
            [lazyLoadOnInit]="true"
            [paginator]="true"
            [totalRecords]="totalRows"
            [rowsPerPageOptions]="[10,25,50]"
            [loading]="loading"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{{ getPageRange(page, limit, totalRows) }}"
            [(selection)]="selectedVehicles" selectionMode="multiple"
            [rows]="10" [rowHover]="true"  dataKey="id" responsiveLayout="scroll" [breakpoint]="'760px'" [tableStyle]="{'minx-width': '50rem'}">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">
                            Id <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th >
                            Usuario
                        </th>
                        <th pSortableColumn="vehicleBrand">
                            Marca <p-sortIcon field="vehicleBrand"></p-sortIcon>
                        </th>
                        <th pSortableColumn="vehicleModel">
                            Modelo <p-sortIcon field="vehicleModel"></p-sortIcon>
                        </th>
                        <th pSortableColumn="vehicleYear">
                            Año <p-sortIcon field="vehicleYear"></p-sortIcon>
                        </th>
                        <th pSortableColumn="vehiclePlateNumber">
                            Placa <p-sortIcon field="vehiclePlateNumber"></p-sortIcon>
                        </th>
                        <th>
                            <!-- Espacio para que se vea bien las columnas -->
                        </th>
                    </tr>
                   <tr>
                        <th>
                            <!-- Espacio para que se vea bien las columnas -->
                        </th>
                        <th>
                            <p-columnFilter type="numeric"  [showButtons]="false" field="id"  [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsNumber" > </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="vehicleUserId['userFullName']" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="vehicleBrand" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="vehicleModel" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="vehicleYear" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="vehiclePlateNumber" [matchMode]="'contains'" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <!-- Espacio para que se vea bien las columnas -->
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-vehicle let-expanded="expanded">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="vehicle"></p-tableCheckbox>
                        </td>
                        <td>{{vehicle.id}}</td>
                        <td>{{vehicle.vehicleUserId['userFullName']}}</td>
                        <td>{{vehicle.vehicleBrand}}</td>
                        <td>{{vehicle.vehicleModel}}</td>
                        <td>{{vehicle.vehicleYear}}</td>
                        <td>{{vehicle.vehiclePlateNumber}}</td>
                        <td>
                            <div class="flex">
                                <button pTooltip="Editar vehiculo" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-text" [routerLink]="['/vehicles/edit/', vehicle.id]"></button>
                                <button pTooltip="Eliminar vehiculo" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="delete(2,vehicle)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

